<!DOCTYPE html>
<html lang="hu">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>Paragliding Sites - About</title>
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-0Q0L1YYED4"></script>
      <script>
         window.dataLayer = window.dataLayer || [];
         
         function gtag() {
           dataLayer.push(arguments);
         }
         gtag("js", new Date());
         
         gtag("config", "G-0Q0L1YYED4");
      </script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-3JRrEUwaCkFUBLK1N8HehwQgu8e23jTH4np5NHOmQOobuC4ROQxFwFgBLTnhcnQRMs84muMh0PnnwXlPq5MGjg=="
         crossorigin="anonymous" referrerpolicy="no-referrer" />
      <!-- Include jQuery -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <!-- Include Popper.js (required for Bootstrap) -->
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
      <!-- Include Bootstrap JavaScript -->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <script src="https://kit.fontawesome.com/d3c4500f30.js" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment-with-locales.min.js" integrity="sha512-vFABRuf5oGUaztndx4KoAEUVQnOvAIFs59y4tO0DILGWhQiFnFHiR+ZJfxLDyJlXgeut9Z07Svuvm+1Jv89w5g==" crossorigin="anonymous"
         referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-k6/Bkb8Fxf/c1Tkyl39yJwcOZ1P4cRrJu77p83zJjN2Z55prbFHxPs9vN7q3l3+tSMGPDdoH51AEU8Vgo1cgAA=="
         crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js" integrity="sha512-RdSPYh1WA6BF0RhpisYJVYkOyTzK4HwofJ3Q7ivt/jkpW6Vc8AurL1R+4AUcvn9IwEKAPm/fk7qFZW3OuiUDeg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script type="text/javascript">
         $(function() {
           bootbox.setLocale("Us"); /*$(document).tooltip();*/
         });
      </script>
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
      <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
   </head>
   <div class="container-xl main">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top p-0">
         <a class="navbar-brand bg-primary px-4 py-3" href="{{ url_for('index') }}">
         L L S C
         </a>
         <button class="navbar-toggler px-4 py-3 border-0" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            >+</button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav border-top border-lg-0">
               <li class="nav-item">
                  <a class="nav-link px-4 px-lg-2 py-3" href="{{ url_for('index') }}">Home </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link px-4 px-lg-2 py-3" href="{{ url_for('sites') }}">Local Sites</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link px-4 px-lg-2 py-3" href="{{ url_for('links') }}">Links</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link px-4 px-lg-2 py-3 active" aria-current="page" href="{{ url_for('about') }}">About</a>
               </li>
            </ul>
            <ul class="navbar-nav ms-auto me-0 me-lg-3 border-top border-lg-0">
               {% if 'username' not in session %}
               <li class="nav-item">
                  <a class="nav-link px-4 px-lg-2 py-3" href="{{ url_for('login') }}">Login</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link px-4 px-lg-2 py-3" href="{{ url_for('register') }}">Register</a>
               </li>
               {% endif %}
               {% if 'username' in session %}
               {% if 'admin' in session and session['admin'] == 'yes' %}
               <li class="nav-item">
                  <a class="nav-link px-4 px-lg-2 py-3" href="{{ url_for('admin_panel') }}">Admin Panel</a>
               </li>
               {% endif %}
               <li class="nav-item">
                  <a class="nav-link px-4 px-lg-2 py-3" href="{{ url_for('myaccount') }}">My Account</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link px-4 px-lg-2 py-3" href="{{ url_for('logout') }}">Logout</a>
               </li>
               {% endif %}
            </ul>
         </div>
      </nav>
   </div>
   </div>
   <body class="content">
      <div class="about-container">
         <div class="article-details " itemscope="" itemtype="https://schema.org/Article">
            <meta itemprop="inLanguage" content="en-GB">
            <div class="article-can-edit d-flex flex-wrap justify-content-between">
            </div>
            <div itemprop="articleBody">
               <h3>Introduction</h3>
               <p>The LLSC has been in existence since 1975. We are a <a title="Link to the BHPA website" href="https://www.bhpa.co.uk/" target="_blank" rel="noopener noreferrer">BHPA</a> member and also a member of the <a title="Link to SHPF website" href="https://shpf.co.uk/" target="_blank" rel="noopener noreferrer">SHPF</a>. Hang gliding and Paragliding clubs are different to other sports clubs in that we are not able to provide training - that is the role of the licensed schools. However, we do provide support for newly qualified pilots to develop their skills, and for more experienced members, we provide all the other aspects of typical sports club membership.</p>
               <h3>Officers</h3>
               <p>There are no paid officers of the club. All Committee members are volunteers, giving up their time freely. The Club has a very varied membership with a huge variety of skills - give&nbsp;volunteering as a Committee member a go yourself! The committee members with links can be contacted via a form (click the link)</p>
               <ul>
                  <li>Chairman - Ben Johnson</li>
                  <li>Secretary - &lt;vacant position&gt;</li>
                  <li>Safety Officer - Chris Sangwin</li>
                  <li>SHPF Liaison Officer - Alistair Bowman</li>
                  <li>Treasurer and Membership Secretary - Ian Kennedy</li>
                  <li>Website Officer - Mark Bradley</li>
                  <li>PG Chief Coach - Fred Robinson</li>
                  <li>Hang gliding Officer - &lt;vacant position&gt;</li>
                  <li>Power Paragliding Officer - Bruce Barrack</li>
                  <li>Forestry Officer - Alistair Bowman</li>
                  <li>Sites Officer - Kevin McGrath</li>
                  <li>Trophies' Custodian - &lt;vacant position&gt;</li>
                  <li>COVID officer - &lt;vacant position&gt;</li>
               </ul>
               <h3>Club House</h3>
               <p>We don't have a "club house" - the hills from which we fly provide that function for us. With modern communications, it is relatively easy for several pilots to arrange to meet at the most suitable flying site for their skills, experience and the weather conditions on the day. In addition, local informal groups of pilots organise both flying days and evening meets in pubs.</p>
               <h3>Coaches</h3>
               <p>The principle means of supporting recently qualified - and less recently - pilots is via our coaches. Again, HG and PG club coaches differ from most other sports in that they are not allowed to provide formal training, but are themselves trained to provide appropriate coaching and guidance for developing member pilots at almost all levels.</p>
               <h3>Events</h3>
               <p>The Club runs at least one social event a year,&nbsp;most recently as a late summer barbecue and overnight camp - a great chance to exchange "there I was...." type stories. Other events might include first aid training, coaching to pass post-CP BHPA exams or similar such activities.</p>
               <h3>Meetings</h3>
               <p>In the winter months, the club organises monthly (usually) meetings in a convenient location, normally a pub - of course - with a function&nbsp;room or other suitable space. At these meetings, members or invited guests with specialist flying-related knowledge give a talk on a topic. Less formally, there a often regular social meets in pubs for pilots in the Glasgow and Edinburgh areas.</p>
               <h3>Projects</h3>
               <p>Occasionally the Club will become involved in one-off projects. Notable examples of this include supporting the development of a national pilot development software service (the <a title="Link to the relevant area of the BHPA website" href="https://www.bhpa.co.uk/sport/bhpa/welcome.php" target="_blank" rel="noopener noreferrer">Pilot Development Scheme - PDS</a>) and support of a scientific research project relating to design and human factors of emergency reserve parachute deployment.</p>
            </div>
         </div>
      </div>
      <div class="flash-messages-container">
         {% with messages = get_flashed_messages(with_categories=true) %}
         {% if messages %}
         {% for category, message in messages %}
         <div class="alert alert-{{ category }} d-flex flex-column justify-content-center align-items-center">
            {{ message }}
         </div>
         {% endfor %}
         {% endif %}
         {% endwith %}
      </div>
      <script src="{{ url_for('static', filename='script.js') }}"></script>
   </body>
</html>